.blog-read{
    position: sticky;
    top: 0px;
}
.time{
    border: 1px solid rgb(204, 167, 238);
    text-align: center;
    color:blue;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(179, 160, 249);
}

.list{
    list-style-type: decimal;
    font-size: larger;
    font-weight: 600;
    padding: 15px;
}